{% extends "partials/_base.html" %}


{% block seo %}
<meta name="description" content="{{ DESCRIPTION }}" />
<link rel="canonical" href="{{ SITEURL }}" />
{% endblock %}


{% block content %}

{% for (category, articles) in categories|sort %}
  {% for article in articles %}
    <article class="article-preview">
      <a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a>
      <h2 class="subtitle">{{ article.date|strftime("%Y-%m-%d") }}</h2>
      {{ article.summary }}
    </article>
  {% endfor %}
{% endfor %}

{% endblock %}
