{% extends "partials/base_extended.html" %}


{% block inner_content %}

{% for (category, articles) in categories|sort %}
<h2 class="mb-4 text-xl">
  <a href="{{ category.url }}" title="View all articles in {{ category|title }}">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-link"><path d="M10 13a5 5 0 0 0 7.54.54l3-3a5 5 0 0 0-7.07-7.07l-1.72 1.71"></path><path d="M14 11a5 5 0 0 0-7.54-.54l-3 3a5 5 0 0 0 7.07 7.07l1.71-1.71"></path></svg>
  </a>
  {{ category|title }}
</h2>

<ul class="list-reset">
  {% for article in articles[:NUM_PREVIEW_LINKS] %}
  <li><a href="{{ article.url }}">{{ article.title }}</a></li>
  {% if loop.last and loop.index < articles|length %}
  <li class="pt-4 text-sm"><a href="{{ article.category.url }}">See more</a></li>
  {% endif %}
  {% endfor %}
</ul>
{% endfor %}

{% endblock %}
