{% extends "partials/_base.html" %}


{% block title %}
{{ page.title|title }} | {{ SITENAME }}
{% endblock %}


{% block styles %}
{% if page and page.stylesheets %}
  {% for stylesheet in page.stylesheets %}
    {{ stylesheet }}
  {% endfor %}
{% endif %}
{% endblock %}


{% block content %}
<article class="page">
  <h1>{{ page.title|title }}</h1>

  <section class="article-content">
    {{ page.content }}
  </section>
</article>
{% endblock %}


{% block scripts %}
{% if page and page.javascripts %}
  {% for javascript in page.javascripts %}
    {{ javascript }}
  {% endfor %}
{% endif %}
{% endblock %}
