/* Import all of Tailwind CSS */

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";


/* Basic layout & theming */

html,
body {
  @apply bg-gray-900 h-full text-gray-400;
}

header,
.content,
footer {
  @apply px-3;
}

main {
  @apply flex-1 py-10;
  background: linear-gradient(to bottom, #17181a, #17181a);
}

@media (min-width: 768px) {
  main {
    @apply py-20;
  }
}


/* Header */

header {
  @apply flex items-center justify-between py-3;

  .title {
    @apply font-bold text-white text-xl tracking-widest uppercase;
  }

  nav a {
    @apply text-gray-400 text-xs tracking-wide uppercase;

    &:active,
    &:hover,
    &.active {
      @apply text-white;
    }

    &:not(:first-of-type) {
      @apply ml-4;
    }
  }
}


/* Footer */

footer {
  @apply border-gray-800 border-t flex flex-col items-center justify-center py-10 text-gray-400 text-sm;

  .row {
    @apply flex items-center;

    a:active,
    a:hover {
      @apply text-white;
    }

    a:not(:first-child) {
      @apply ml-3;
    }
  }
}


/* Articles & article content */

article {
  &:not(:first-of-type) {
    @apply mt-8;
  }

  &.page > p {
    @apply mt-3;
  }

  & > a {
    @apply font-light text-white text-xl uppercase;

    &:active,
    &:hover {
      @apply text-gray-300;
    }
  }

  h1 {
    @apply font-light text-white text-xl uppercase;
  }

  h2 {
    @apply text-red-600 text-xs;
  }

  .summary {
    @apply mt-3;
  }
}

@media (min-width: 768px) {
  article:not(:first-of-type) {
    @apply mt-16;
  }
}

.article-content {
  a {
    @apply text-white;

    &:active,
    &:hover {
      @apply text-gray-300;
    }
  }

  blockquote,
  ul {
    @apply p-3;
  }

  p,
  table,
  ul {
    @apply my-4;
  }

  h1 {
    @apply mt-8 text-lg;
  }

  h2 {
    @apply font-light mt-8 text-base text-white uppercase;
  }

  table {
    td,
    th {
      @apply px-2 px-1;
    }

    th {
      @apply uppercase;
    }
  }

  .highlight {
    @apply my-4 text-sm;

    pre {
      @apply overflow-x-auto p-3;
    }
  }
}
